body{
    background-image: url(../img/Bs7Cdl.webp);
    margin-top: 320px;
    text-align: center;
}
#cookie{
    max-width: 150px;
    width: 100%;
    
}
#counter{
    font-size: 40px;
    text-align: center;
}
.upgrade{
    font-size: 40px;
    text-align: center;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    cursor: pointer;
}
button{
    background-color: aqua;
    border-radius: 5px;
}
#upgradeclick { font-size: 40px;}
#buy{ font-size: 40px;}